body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-container{
    display: flex;
    margin-right: 15%;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input::placeholder {
    color: #aaa;
}
#submit {
    width: 100%;
    padding: 4%;
    background-color: #007BFF;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin: 1%;
}

#password-forgot,#sign-up {
    color: #007BFF;
    font-size: 12px;
    cursor: pointer;
    background:none;
    border:none;
    margin:10px;
    padding:0;
    cursor: pointer;;
}

#submit:hover {
    background-color: #0056b3;
}
